.container {
  border: 1px solid blue;
  // height: 600px;
}

button.regular-button {
  font-size: 1.3em;
  border-radius: 50% / 80%;
}

.display {
  border: 1px solid red;
}

button.double-button {
  border-radius: 25% / 40px;
}