$last-row-color: #fd9500;
$main-border-color: gray;

.container {
  border: 2px solid $main-border-color;
  border-radius: 10px;
}

.label {
  font-weight: 600;
  margin-top: 5px;
}

.display {
  border: 1px solid $main-border-color;
  border-radius: 5px;
}

.button-container:last-of-type {
  Button {
    background-color: $last-row-color;
  }
}

button.regular-button {
  font-size: 1.3em;
  border-radius: 50% / 80%;
}

button.double-button {
  border-radius: 25% / 40px;
}

p.indicator {
  width: 1em;
  margin-right: 3px;
  padding: 0;
  display: inline-block;
  position: relative;
  top: 1em;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  button.regular-button {
    border-radius: 30% / 80%;
  }

  button.double-button {
    border-radius: 15% / 40px;
  }
}
